/.metadata/
/.che/
.vscode/*
.vscode/settings.json
SmartBackpackML/.ipynb_checkpoints/*
SmartBackpackML/.vscode/*
SmartBackpackML/src/__pycache__/*
SmartBackpackSAP/.backup/*
SmartBackpackApp/.idea/*
