[Unit]
Description=Raspberry PI Bluetooth Server
After=bluetooth.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/SmartBackpack
ExecStart=/home/pi/SmartBackpack/SBP_BT_Server.py -l /home/pi/SmartBackpack/SBP_BT_Server.log
 
[Install]
WantedBy=multi-user.target