[Unit]
Description=Smart Backpack Sensor service
After=network.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/SmartBackpack
ExecStart=/usr/bin/python3 /home/pi/SmartBackpack/SBP_Sensor_Server.py 
 
[Install]
WantedBy=multi-user.target