[Unit]
Description=Smart Backpack Sensor service
After=network.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/SmartBackpackIOT
ExecStart=/usr/bin/python3 /home/pi/SmartBackpackIOT/SBP_Sensor_Server.py 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SBP_Sensor_Server
 
[Install]
WantedBy=multi-user.target